body
{
   font-family: 'Special Elite', cursive;
   background: rgb(194, 147, 194);
}

.copy_right_footer
{
    position: fixed;
    color: rgb(184, 222, 33);
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: rgb(133, 218, 239);
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(37, 189, 73);
    font-family: cursive;
}